*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem;
}
section{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 1px solid #33267d;
    box-shadow: 1px 2px 2px #33267d;
    padding: 1rem;
}
.inputClass{
    width: 100px;
    height: 30px;
    margin: .5rem;
}
#pMsg{
    margin: 1rem;
    font-size: 26pt;
    font-weight: 900;
}
