*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h1{
    text-align: center;
    font-size: 28pt;
}
section{
    padding: 4rem;
}
