*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}
h1{
    font-size: 28pt;
    margin: 2rem;
    text-align: center;
}
li{
    padding: 1rem;
}
